<%- include('partials/header'); -%>

<div class="container">
<%- include('partials/ravenHeader'); -%>

    <div class="main-menu row">

        <div class="overview col-12">
            <div class="overview-title row">
                <div class="col">
                    <h2>Service Overview</h2>
                </div>
            </div>
            <div class="overview-content row">
                <div class="overview-data col-12 col-md-4">
                    <h3>Supplier Balances</h3>
                </div>
                <div class="overview-data col-12 col-md-4">
                    <h3>Scaper Time</h3>
                </div>
                <div class="overview-data col-12 col-md-4">
                    <h3>Ticket Rate</h3>
                </div>
            </div>
        </div>

        <div class="container-fluid">
        
        <div class="row">

            <div class="col-12">
                <a href="/top-up"> Send Services </a>
            </div>
            <div class="col-12">
                <a href="#"> Test Services </a>
            </div>
        </div>
        </div>




    </div>
</div>

<%- include('partials/footer'); -%>
