<%- include('partials/header'); -%>

<div class="container">
    <h1>Register</h1>
    <form action="/register" method="POST">
        <div class="form-control container-fluid">
            <div class="row">
                <div class="col">
                    <label for="username">Username</label>
                </div>
                <div class="col">
                    <input type="text" name="username" id="register-username">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="email">eMail</label>
                </div>
                <div class="col">
                    <input type="text" name="email" id="register-email">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="password">Password</label>
                </div>
                <div class="col">
                    <input type="text" name="password" id="register-password">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="confim-password">Confirm Password</label>
                </div>
                <div class="col">
                    <input type="text" name="password" id="register-confirm-password">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit">Register</button>
                </div>
            </div>
        </div>
    </form>
</div>

<%- include('partials/footer'); -%>
